.input_container {
  padding: 10px;
  border-radius: 10px;

  form {
    display: flex;
    align-items: center;

    button {
      margin-right: 5px;
      padding: 5px;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      border: 1px solid hsl(235, 24%, 19%);
      background: none;
      flex-shrink: 0;

      &:hover {
        cursor: pointer;
        background-image: url("../../assets/icon-check.svg"),
          linear-gradient(
            337deg,
            rgba(157, 2, 148, 1) 18%,
            rgba(0, 222, 255, 1) 100%
          );
        background-repeat: no-repeat;
        background-position: center;
        border: none;
      }
    }
    input {
      padding: 10px;
      flex-grow: 1;
      display: inline;
      border: none;

      &:focus {
        outline: none;
      }
    }
  }
}
