@import "../media";

.container {
  position: absolute;
  margin-top: 20px;
  width: 500px;
  min-height: 250px;
  max-height: 700px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include laptop {
    max-width: 350px;
    top: 41%;
  }

  @include mobile {
    max-width: 320px;
  }

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(255, 188, 6);
    padding: 3px;
    border-radius: 15px;
    
    button {
      padding: none;
      border: none;
      width: 50px;
      height: 50px;
      background: none;

      &:hover {
        cursor: pointer;
      }

      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}
