.filter_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 10px;

    p{
        cursor: pointer;

        &:hover{
            opacity: 0.5;
            transition: all 300ms linear;
            
        }

        &:focus {
            opacity: 0.5;
            color: rgb(219, 14, 222);
        }
    
        &:active {
            opacity: 0.5;
            color: rgb(219, 14, 222);
        }
    }

    .centered_container{
        display: flex;
        align-items: center;

        p{
            margin-right: 10px;
        }
    }
}